{% extends 'base_detail_list.html' %}
{% block title %}天天生鲜-商品详情{% endblock title %}
{% load staticfiles %}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/goods_detail.js' %}">
        {% comment %}$(function () {
            var num_show = $('.num_show');

            $('.add').click(function () {
                // 加1
                var goods_count = parseInt(num_show.val()) + 1;
                num_show.val(goods_count);
                update_total_price()
            });
            $('.minus').click(function () {
                // 减1
                var goods_count = parseInt(num_show.val()) - 1;
                if (goods_count < 1){
                    goods_count = 1;
                }
                num_show.val(goods_count);
                update_total_price()
            });
            function update_total_price() {
                // 计算总价
                var goods_price = parseFloat($('.show_pirze').children('em').text());  // 单价
                var goods_count = parseInt($('.num_show').val());  // 总数
                var total_price = goods_price * goods_count;
                $('.total').children('em').text(total_price.toFixed(2) + '元');
            }
            num_show.blur(function () {
                // 手动输入
                // 校验输入数据的合法性
                var goods_count = $(this).val();
                if (parseInt(goods_count) < 1 || goods_count.trim().length == 0 || isNaN(goods_count)){
                    goods_count = 1
                }
                num_show.val(parseInt(goods_count));
                update_total_price();
            });


            $('#add_cart').click(function () {
                // 判断用户是否登录
                {% if request.session.islogin %}
                    var $add_x = $('#add_cart').offset().top;
                    var $add_y = $('#add_cart').offset().left;

                    var $to_x = $('#show_count').offset().top;
                    var $to_y = $('#show_count').offset().left;

                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                    // 已登录, 发送 ajax的get 请求保存到数据库, 参数:商品 id 和商品数目
                    var goods_id = {{ goods.id }};
                    // alert(goods_id+':'+ parseInt(num_show.val()));
                    $.get('/cart/add/?goods_id='+goods_id+'&goods_count='+parseInt(num_show.val()), function (data) {
                        // {res: 结果} 1: 添加成功 0: 添加失败
                        if(data.res){
                            // 执行动画
                            $(".add_jump").stop().animate({
                                'left': $to_y+7,
                                'top': $to_x+7},
                                "fast", function() {  // "slow", "normal", 或 "fast"
                                    $(".add_jump").fadeOut('fast',function(){
                                        // 改变总数量
                                        $('#show_count').text(parseInt($('#show_count').text()) + parseInt(num_show.val()));
                                    });
                            });

                        }else {
                            alert('添加失败')
                        }
                    });

                {% else %}
                    // 未登录
                    alert('请先登录');
                {% endif %}
            })
        }){% endcomment %}
    </script>
{% endblock topfiles %}
{% block main_content %}

	<div class="breadcrumb">
		<a href="/list/1/1/">全部分类</a>
		<span>></span>
		<a href="/list/1/1/">新鲜水果</a>
		<span>></span>
		<a href="/goods/{{ goods.id }}/">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{% static goods.images.img_url %}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.goods_sub_title }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：{{ goods.goods_unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.goods_price }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for g_n in goods_new %}
                        <li>
						<a href="/goods/{{ g_n.id }}/"><img src="{% static g_n.goods_image %}"></a>
						<h4><a href="/goods/{{ g_n.id }}/">{{ g_n.goods_name }}</a></h4>
						<div class="prize">￥{{ g_n.goods_price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_info|safe }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock main_content %}

{% block bottom %}
    <div class="add_jump"></div>
{% endblock bottom %}

