{% extends 'base_detail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-商品列表{% endblock title %}
{% block main_content %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ type_title }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for g_n in goods_new %}
                        <li>
						<a href="/goods/{{ g_n.id }}/"><img src="{% static g_n.goods_image %}"></a>
						<h4><a href="/goods/{{ g_n.id }}/">{{ g_n.goods_name }}</a></h4>
						<div class="prize">￥{{ g_n.goods_price }}</div>
					    </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list/{{ type_id }}/1/" {% if sort == 'default' %}class="active"{% endif %}>默认</a>
				<a href="/list/{{ type_id }}/1/?sort=price" {% if sort == 'price' %}class="active"{% endif %}>价格</a>
				<a href="/list/{{ type_id }}/1/?sort=hot" {% if sort == 'hot' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for g in goods %}
                    <li>
					<a href="/goods/{{ g.id }}/"><img src="{% static g.goods_image %}"></a>
					<h4><a href="/goods/{{ g.id }}/">{{ g.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ g.goods_price }}</span>
						<span class="unit">{{ g.goods_price }}/{{ g.goods_unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				    </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if goods.has_previous %}
                    <a href="/list/{{ type_id }}/{{ goods.previous_page_number }}/?sort={{ sort }}">&lt;上一页</a>
                {% endif %}

                {% for pindex in pages %}
				    <a href="/list/{{ type_id }}/{{ pindex }}/?sort={{ sort }}" {% if pindex == goods.number %} class="active" {% endif %}>{{ pindex }}</a>
                {% endfor %}

                {% if goods.has_next %}
				    <a href="/list/{{ type_id }}/{{ goods.next_page_number }}/?sort={{ sort }}">下一页&gt;</a>
                {% endif %}

			</div>
		</div>
	</div>

{% endblock main_content %}
