{% extends 'base_no_cart_count.html' %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% load staticfiles %}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(function () {

            get_total_count();
            update_all_goods_info();

            // 更新页面商品总数
            function get_total_count() {
                $.get('/cart/count/', function (data) {
                    // total_count = data.res
                    $('.total_count').children('em').text(data.res);
                });
            }
            // 计算商品的总数,总价,小计
            function update_all_goods_info(){
                var goods_total_price = 0;
                var goods_total_count = 0;
                // 遍历每条商品 ul
                $('.cart_list_td').find(':checked').parents('ul').each(function () {
                    var res_dict = update_goods_info($(this));  // 调用计算每条商品的小计和数目
                    goods_total_count += res_dict['goods_count'];
                    goods_total_price += res_dict['goods_price'];

                });
                $('ul.settlements').find('em').text(goods_total_price.toFixed(2));
                $('ul.settlements').find('b').text(goods_total_count);
            }
            // 抽取 计算商品的小计和数目
            function update_goods_info(goods_ul) {
                var goods_price = parseFloat(goods_ul.children('.col05').text());
                var goods_count = parseInt(goods_ul.find('.num_show').val());
                var total_price = goods_price * goods_count;
                $(this).children('.col07').text(total_price.toFixed(2)+'元');
                return {'goods_count': goods_count, 'goods_price': goods_price}
            }
            // 点击全选/全不选
            $('.settlements').find(':checkbox').click(function () {
                var is_checked = $(this).prop('checked');
{#                alert(is_checked);#}
                // 1. 遍历所有的 checkbox, 设置其状态为 is_checked
                $('.cart_list_td').find(':checkbox').each(function () {
                    // $(this) 就是每个 ul 中的 checkbox
                    $(this).prop({'checked': is_checked})
                })
                // 2. 修改总价和总数
                update_all_goods_info();
            });
            // 单个商品的勾选
            $('.cart_list_td').find(':checkbox').click(function () {
                // 获取所有 checkbox 的数量和已勾选的 checkbox 数量进行比较,判断改变全选框状态
                var all_len = $('.cart_list_td').find(':checkbox').length;
                var checked_len = $('.cart_list_td').find(':checked').length;
                if (all_len > checked_len){
                    // 没有全选
                    $('.settlements').find(':checkbox').prop({'checked': false});
                }else{
                    // 全选
                    $('.settlements').find(':checkbox').prop({'checked': true});
                }
                update_all_goods_info()
            });


            // 修改后台购物车数据库表数据
            var error_update = false;
            function update_remote_cart_info(goods_id, goods_count) {
                $.ajaxSettings.async = false;  // 设为同步
                $.get('/cart/update/?goods_id='+goods_id+'&goods_count='+goods_count, function (data) {
                    // {res:结果} 1: 更新成功, 0: 更新失败
                    if (data.res == 1){
                        error_update = true;
                    }else {
                        error_update = false;
                    }
                });
                $.ajaxSettings.async = true;  // 设回异步
            }
            // 加
            $('a.add').click(function () {
                var goods_id = $(this).next().attr('goods_id');
                var goods_count = parseInt($('.num_show').val())+1;
                // 发送请求,添加进数据库
                update_remote_cart_info(goods_id, goods_count);
                if(error_update){
                    // 加1成功,重置值
                    $(this).next().val(goods_count);
                    get_total_count();
                    if($(this).parents('ul').find(':checkbox').prop(':checked')){
                        // 选中的,更新全部
                        update_all_goods_info();
                    }else{
                        // 未选中,更新商品小计
                        update_goods_info($(this).parents('ul'));
                    }
                }
            });
            // 减
            $('a.minus').click(function () {
                var goods_id = $(this).prev().attr('goods_id');
                var goods_count = parseInt($('.num_show').val())-1;
                if (goods_count < 1){
                    goods_count = 1;
                }
                // 发送更新请求
                update_remote_cart_info(goods_id, goods_count);
            })

        })
    </script>
{% endblock topfiles %}
{% block page_title %}购物车{% endblock page_title %}
{% block body %}

	<div class="total_count">全部商品<em>0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for cart_info in cart_info_list %}
	    <ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="{% static cart_info.goods.goods_image %}"></li>
		<li class="col03">{{ cart_info.goods.goods_name }}<br><em>{{ cart_info.goods.goods_price }}元/{{ cart_info.goods.goods_unite }}</em></li>
		<li class="col04">{{ cart_info.goods.goods_unite }}</li>
		<li class="col05">{{ cart_info.goods.goods_price }}元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" goods_id="{{ cart_info.goods.id }}" value="{{ cart_info.goods_count }}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">{{ cart_info.goods.goods_price }}元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
    {% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>0.00</em><br>共计<b>0</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>
{% endblock body %}
